# Herron Topic 1 - Practice for Section 04

## Announcements

1. DataCamp
   1. *Data Manipulation with pandas* due by Friday, 2/9, at 11:59 PM
   2. *Joining Data with pandas* due by Friday, 2/16, at 11:59 PM
   3. *Earn 10,000 XP* due by Friday, 3/15, at 11:59 PM
2. I posted Project 1 to Canvas
   1. Slides and notebook due by Friday, 2/23, at 11:59 PM
   2. Keep joining teams and let me know if you need help

## 10-Minute Recap

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pandas_datareader as pdr
import yfinance as yf

In [2]:
%precision 4
pd.options.display.float_format = '{:.4f}'.format
%config InlineBackend.figure_format = 'retina'

In [3]:
np.expm1(np.log1p(0.1))

0.1000

First, we will use two packages to download data from the web:

1. `yfinance` for Yahoo! Finance data
2. `pandas-datareader` for Ken French data (or FRED data to others)

Second, there are "simple returns" and "log returns"

1. Simple returns are the returns that investors receive that we learned in FINA 6331 and FINA 6333: $r_t = \frac{p_t + d_t - p_{t-1}}{p_{t-1}}$
3. Log returns are the log of one plus simple returns. Why do we use them?
   1. ***Log returns are additive***, while simple returns are multiplicative. This additive property makes math really easy with log returns: $\log(\prod_{t=0}^T (1 + r_t)) = \sum_{t=0}^T \log(1+r_t)$, so $r_{0,T} = \prod_{t=0}^T (1 + r_t) - 1 = e^{\sum_{t=0}^T \log(1+r_t)} - 1$
   2. ***Log returns are almost normally distributed***
  
***We will almost always use simple returns.***
The exeception is time-consuming calculations, which we will often do in log returns to save us time.

Third, we can calculate portfolio returns easily in pandas!

1. `returns.mean(axis=1)` is the return on an equally-weighted portfolio, ***rebalanced at the same frequency as the returns in `returns`!***
2. `returns.dot(weights)` is the return on a portfolio weighted according to the weights in the `weights` array, ***still rebalanced at the same frequency as the returns in `returns`!***

## Practice

### Download all available daily price data for tickers TSLA, F, AAPL, AMZN, and META to data frame `prices`

In [4]:
tickers = 'TSLA F AAPL AMZN META'
prices = yf.download(tickers=tickers)

prices

[*********************100%%**********************]  5 of 5 completed

           Adj Close                                       Close           \
                AAPL     AMZN       F     META     TSLA     AAPL     AMZN
Date
1972-06-01       NaN      NaN  0.2419      NaN      NaN      NaN      NaN
1972-06-02       NaN      NaN  0.2414      NaN      NaN      NaN      NaN
1972-06-05       NaN      NaN  0.2414      NaN      NaN      NaN      NaN
1972-06-06       NaN      NaN  0.2387      NaN      NaN      NaN      NaN
1972-06-07       NaN      NaN  0.2373      NaN      NaN      NaN      NaN
...              ...      ...     ...      ...      ...      ...      ...
2024-01-31  184.4000 155.2000 11.7200 390.1400 187.2900 184.4000 155.2000
2024-02-01  186.8600 159.2800 12.1000 394.7800 188.8600 186.8600 159.2800
2024-02-02  185.8500 171.8100 12.1400 474.9900 187.9100 185.8500 171.8100
2024-02-05  187.6800 170.3100 11.5900 459.4100 181.0600 187.6800 170.3100
2024-02-06  189.3000 169.1500 12.0700 454.7200 185.1000 189.3000 169.1500

                                      ...     Open                            \
                 F     META     TSLA  ...     AAPL     AMZN       F     META
Date                                  ...
1972-06-01  2.1532      NaN      NaN  ...      NaN      NaN  0.0000      NaN
1972-06-02  2.1492      NaN      NaN  ...      NaN      NaN  2.1532      NaN
1972-06-05  2.1492      NaN      NaN  ...      NaN      NaN  2.1492      NaN
1972-06-06  2.1248      NaN      NaN  ...      NaN      NaN  2.1492      NaN
1972-06-07  2.1127      NaN      NaN  ...      NaN      NaN  2.1248      NaN
...            ...      ...      ...  ...      ...      ...     ...      ...
2024-01-31 11.7200 390.1400 187.2900  ... 187.0400 157.0000 11.7600 389.0000
2024-02-01 12.1000 394.7800 188.8600  ... 183.9900 155.8700 11.8200 393.9400
2024-02-02 12.1400 474.9900 187.9100  ... 179.8600 169.1900 12.0300 459.6000
2024-02-05 11.5900 459.4100 181.0600  ... 188.1500 170.2000 12.0100 469.8800
2024-02-06 12.0700 454.7200 185.1000  ... 186.8600 169.3900 11.6400 464.0000

                            Volume                                         \
               TSLA           AAPL           AMZN         F          META
Date
1972-06-01      NaN            NaN            NaN   1091238           NaN
1972-06-02      NaN            NaN            NaN   1174468           NaN
1972-06-05      NaN            NaN            NaN   5209582           NaN
1972-06-06      NaN            NaN            NaN   1424158           NaN
1972-06-07      NaN            NaN            NaN    675088           NaN
...             ...            ...            ...       ...           ...
2024-01-31 187.0000  55467800.0000  50284400.0000  74558900 20180800.0000
2024-02-01 188.5000  64885400.0000  76542400.0000  81065800 29727100.0000
2024-02-02 185.0400 102518000.0000 117154900.0000  73087000 84615500.0000
2024-02-05 184.2600  69668800.0000  55081300.0000  81026800 40832400.0000
2024-02-06 177.2100  43225255.0000  39617363.0000  83842760 21584859.0000


                     TSLA
Date
1972-06-01            NaN
1972-06-02            NaN
1972-06-05            NaN
1972-06-06            NaN
1972-06-07            NaN
...                   ...
2024-01-31 103221400.0000
2024-02-01  91843300.0000
2024-02-02 110505100.0000
2024-02-05 134294400.0000
2024-02-06 122217420.0000

[13032 rows x 30 columns]

### Calculate all available daily returns and save to data frame `returns`

### Calculate all available daily returns and save to data frame `returns`

In [5]:
returns = (
    prices['Adj Close'] # slice adj close
    .iloc[:-1] # drop the last price because it might be intraday (i.e., not a close)
    .pct_change() # calculate simple returns
)

returns

              AAPL    AMZN       F    META    TSLA
Date
1972-06-01     NaN     NaN     NaN     NaN     NaN
1972-06-02     NaN     NaN -0.0019     NaN     NaN
1972-06-05     NaN     NaN  0.0000     NaN     NaN
1972-06-06     NaN     NaN -0.0113     NaN     NaN
1972-06-07     NaN     NaN -0.0057     NaN     NaN
...            ...     ...     ...     ...     ...
2024-01-30 -0.0192 -0.0140  0.0199 -0.0024  0.0035
2024-01-31 -0.0194 -0.0239 -0.0051 -0.0248 -0.0224
2024-02-01  0.0133  0.0263  0.0324  0.0119  0.0084
2024-02-02 -0.0054  0.0787  0.0033  0.2032 -0.0050
2024-02-05  0.0098 -0.0087 -0.0453 -0.0328 -0.0365

[13031 rows x 5 columns]

### Slices returns for the 2020s and assign to `returns_2020s`

In [6]:
returns_2020s = returns.loc['2020':] # always use an unambiguos date format, like YYYY-MM-DD

returns_2020s

              AAPL    AMZN       F    META    TSLA
Date
2020-01-02  0.0228  0.0272  0.0129  0.0221  0.0285
2020-01-03 -0.0097 -0.0121 -0.0223 -0.0053  0.0296
2020-01-06  0.0080  0.0149 -0.0054  0.0188  0.0193
2020-01-07 -0.0047  0.0021  0.0098  0.0022  0.0388
2020-01-08  0.0161 -0.0078  0.0000  0.0101  0.0492
...            ...     ...     ...     ...     ...
2024-01-30 -0.0192 -0.0140  0.0199 -0.0024  0.0035
2024-01-31 -0.0194 -0.0239 -0.0051 -0.0248 -0.0224
2024-02-01  0.0133  0.0263  0.0324  0.0119  0.0084
2024-02-02 -0.0054  0.0787  0.0033  0.2032 -0.0050
2024-02-05  0.0098 -0.0087 -0.0453 -0.0328 -0.0365

[1030 rows x 5 columns]

### Download all available data for the Fama and French daily benchmark factors to dictionary `ff_all`

I often use the following code snippet to find the exact name for the the daily benchmark factors file.

In [7]:
pdr.famafrench.get_available_datasets()[:5]

['F-F_Research_Data_Factors',
 'F-F_Research_Data_Factors_weekly',
 'F-F_Research_Data_Factors_daily',
 'F-F_Research_Data_5_Factors_2x3',
 'F-F_Research_Data_5_Factors_2x3_daily']

In [8]:
ff_all = pdr.DataReader(
    name='F-F_Research_Data_Factors_daily',
    data_source='famafrench',
    start='1900'
)

C:\Users\r.herron\AppData\Local\Temp\ipykernel_21288\2526882917.py:1: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  ff_all = pdr.DataReader(

In [9]:
type(ff_all)

dict

The `DESCR` key in the dictionary tells us about the data frames that `pandas-datareader` returns.

In [10]:
print(ff_all['DESCR'])

F-F Research Data Factors daily
-------------------------------

This file was created by CMPT_ME_BEME_RETS_DAILY using the 202312 CRSP database. The Tbill return is the simple daily rate that, over the number of trading days in the month, compounds to 1-month TBill rate from Ibbotson and Associates Inc. Copyright 2023 Kenneth R. French

  0 : (25649 rows x 4 cols)

### Slice the daily benchmark factors, convert them to decimal returns, and assign to `ff`

In [11]:
ff = ff_all[0].div(100)

ff

            Mkt-RF     SMB     HML     RF
Date
1926-07-01  0.0010 -0.0025 -0.0027 0.0001
1926-07-02  0.0045 -0.0033 -0.0006 0.0001
1926-07-06  0.0017  0.0030 -0.0039 0.0001
1926-07-07  0.0009 -0.0058  0.0002 0.0001
1926-07-08  0.0021 -0.0038  0.0019 0.0001
...            ...     ...     ...    ...
2023-12-22  0.0021  0.0064  0.0009 0.0002
2023-12-26  0.0048  0.0069  0.0046 0.0002
2023-12-27  0.0016  0.0014  0.0012 0.0002
2023-12-28 -0.0001 -0.0036  0.0003 0.0002
2023-12-29 -0.0043 -0.0112 -0.0037 0.0002

[25649 rows x 4 columns]

### Use the `.cumprod()` method to plot cumulative returns for these stocks in the 2020s

We use the `.prod()` method to calculate *total* returns, because $r_{total} = r_{0,T} = \left[ \prod_{t=0}^T (1 + r_t) \right] -1$.

In [12]:
(
    returns_2020s # returns during the 2020s
    .add(1) # add 1 before we compound
    .prod() # compound all returns
    .sub(1) # subtract 1 to recover total returns
)

AAPL   1.6241
AMZN   0.8433
F      0.4535
META   1.2383
TSLA   5.4922
dtype: float64

### Use the `.cumsum()` method with log returns to plot cumulative returns for these stocks in the 2020s

### Use price data only to plot cumulative returns for these stocks in the 2020s

### Calculate the Sharpe Ratio for TSLA

Calculate the Sharpe Ratio with all available returns and 2020s returns.
Recall the Sharpe Ratio is $\frac{\overline{R_i - R_f}}{\sigma_i}$, where $\sigma_i$ is the volatility of *excess* returns.

***I suggest you write a function named `calc_sharpe()` to use for the rest of this notebook.***

### Calculate the market beta for TSLA

Calculate the market beta with all available returns and 2020s returns.
Recall we estimate market beta with the ordinary least squares (OLS) regression $R_i-R_f = \alpha + \beta (R_m-R_f) + \epsilon$.
We can estimate market beta with the covariance formula above for a univariate regression if we do not need goodness of fit statistics.

***I suggest you write a function named `calc_beta()` to use for the rest of this notebook.***

### Guess the Sharpe Ratios for these stocks in the 2020s

### Guess the market betas for these stocks in the 2020s

### Calculate the Sharpe Ratios for these stocks in the 2020s

How good were your guesses?

### Calculate the market betas for these stocks in the 2020s

How good were your guesses?

### Calculate the Sharpe Ratio for an *equally weighted* portfolio of these stocks in the 2020s

What do you notice?

### Calculate the market beta for an *equally weighted* portfolio of these stocks in the 2020s

What do you notice?

### Calculate the market betas for these stocks every calendar year for every possible year

Save these market betas to data frame `betas`.
Our current Python knowledge limits us to a for-loop, but we will learn easier and faster approaches soon!

### Plot the time series of market betas