# McKinney Chapter 10 - Practice for Section 04

## Announcements

1. I will grade your projects over spring break
2. Please complete your peer reviews on Teammates by midnight on Tuesday, 2/27
3. I will record the week 9 lecture video on Thursday
4. Enjoy your spring breaks!

## 10-Minute Recap

We will focus on 3 topics from chapter 10 of McKinney:

1. *GroupBy Mechanics:* We will use the `.groupby()` method to perform "split-apply-combine" calculations in pandas, which let us aggregate data by one of more columns or indexes.
2. *Data Aggregation:* We will combine optimized methods, like `.count()`, `.sum()`, `.mean()`, etc., with `.groupby()` to quickly aggregate data. We will combine the `.agg()` or `.aggregate()` method with `.groupby()` when we want to apply more than one aggregation function.
3. *Pivot Tables:* We can use the `.pivot_table()` method to aggregate data with a syntax similar to Excel's pivot tables. We can almost always get the same output with the `.groupby()`, `.agg()`, and `.unstack()` methods.

## Practice

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pandas_datareader as pdr
import yfinance as yf

In [2]:
%precision 4
pd.options.display.float_format = '{:.4f}'.format
%config InlineBackend.figure_format = 'retina'

### Replicate the following `.pivot_table()` output with `.groupby()`

In [3]:
ind = (
    yf.download(tickers='^GSPC ^DJI ^IXIC ^FTSE ^N225 ^HSI')
    .rename_axis(columns=['Variable', 'Index'])
    .stack()
)

[*********************100%%**********************]  6 of 6 completed

In [4]:
np.allclose(
    ind['Adj Close'],
    ind['Close']
)

True

In [5]:
a = (
    ind
    .loc['2015':]
    .reset_index()
    .pivot_table(
        values='Close',
        index=pd.Grouper(key='Date', freq='A'),
        columns='Index',
        aggfunc=['min', 'max']
    )
)

a

                  min                                                       \
Index            ^DJI     ^FTSE     ^GSPC       ^HSI      ^IXIC      ^N225
Date
2015-12-31 15666.4404 5874.1001 1867.6100 20556.5996  4506.4902 16795.9609
2016-12-31 15660.1797 5537.0000 1829.0800 18319.5801  4266.8398 14952.0195
2017-12-31 19732.4004 7099.2002 2257.8301 22134.4707  5429.0801 18335.6309
2018-12-31 21792.1992 6584.7002 2351.1001 24585.5293  6192.9199 19155.7402
2019-12-31 22686.2207 6692.7002 2447.8899 25064.3594  6463.5000 19561.9609
2020-12-31 18591.9297 4993.8999 2237.3999 21696.1309  6860.6699 16552.8301
2021-12-31 29982.6191 6407.5000 3700.6499 22744.8594 12609.1602 27013.2500
2022-12-31 28725.5098 6826.2002 3577.0300 14687.0195 10213.2900 24717.5293
2023-12-31 31819.1406 7256.8999 3808.1001 16201.4902 10305.2402 25716.8594
2024-12-31 37266.6719 7446.2998 4688.6802 14961.1797 14510.2998 33288.2891

                  max
Index            ^DJI     ^FTSE     ^GSPC       ^HSI      ^IXIC      ^N225
Date
2015-12-31 18312.3906 7104.0000 2130.8201 28442.7500  5218.8599 20868.0293
2016-12-31 19974.6191 7142.7998 2271.7200 24099.6992  5487.4399 19494.5293
2017-12-31 24837.5098 7687.7998 2690.1599 30003.4902  6994.7598 22939.1797
2018-12-31 26828.3906 7877.5000 2930.7500 33154.1211  8109.6899 24270.6191
2019-12-31 28645.2598 7686.6001 3240.0200 30157.4902  9022.3896 24066.1191
2020-12-31 30606.4805 7674.6001 3756.0701 29056.4199 12899.4199 27568.1504
2021-12-31 36488.6289 7420.7002 4793.0601 31084.9395 16057.4404 30670.0996
2022-12-31 36799.6484 7672.3999 4796.5601 24965.5508 15832.7998 29332.1602
2023-12-31 37710.1016 8014.2998 4783.3501 22688.9004 15099.1797 33753.3281
2024-12-31 39131.5312 7728.5000 5088.7998 16790.8008 16041.6201 39233.7109

In [6]:
b = (
    ind
    .loc['2015':]
    .reset_index()
    .groupby([pd.Grouper(key='Date', freq='A'), 'Index'])
    ['Close']
    .agg(['min', 'max'])
    .unstack()
)

b

                  min                                                       \
Index            ^DJI     ^FTSE     ^GSPC       ^HSI      ^IXIC      ^N225
Date
2015-12-31 15666.4404 5874.1001 1867.6100 20556.5996  4506.4902 16795.9609
2016-12-31 15660.1797 5537.0000 1829.0800 18319.5801  4266.8398 14952.0195
2017-12-31 19732.4004 7099.2002 2257.8301 22134.4707  5429.0801 18335.6309
2018-12-31 21792.1992 6584.7002 2351.1001 24585.5293  6192.9199 19155.7402
2019-12-31 22686.2207 6692.7002 2447.8899 25064.3594  6463.5000 19561.9609
2020-12-31 18591.9297 4993.8999 2237.3999 21696.1309  6860.6699 16552.8301
2021-12-31 29982.6191 6407.5000 3700.6499 22744.8594 12609.1602 27013.2500
2022-12-31 28725.5098 6826.2002 3577.0300 14687.0195 10213.2900 24717.5293
2023-12-31 31819.1406 7256.8999 3808.1001 16201.4902 10305.2402 25716.8594
2024-12-31 37266.6719 7446.2998 4688.6802 14961.1797 14510.2998 33288.2891

                  max
Index            ^DJI     ^FTSE     ^GSPC       ^HSI      ^IXIC      ^N225
Date
2015-12-31 18312.3906 7104.0000 2130.8201 28442.7500  5218.8599 20868.0293
2016-12-31 19974.6191 7142.7998 2271.7200 24099.6992  5487.4399 19494.5293
2017-12-31 24837.5098 7687.7998 2690.1599 30003.4902  6994.7598 22939.1797
2018-12-31 26828.3906 7877.5000 2930.7500 33154.1211  8109.6899 24270.6191
2019-12-31 28645.2598 7686.6001 3240.0200 30157.4902  9022.3896 24066.1191
2020-12-31 30606.4805 7674.6001 3756.0701 29056.4199 12899.4199 27568.1504
2021-12-31 36488.6289 7420.7002 4793.0601 31084.9395 16057.4404 30670.0996
2022-12-31 36799.6484 7672.3999 4796.5601 24965.5508 15832.7998 29332.1602
2023-12-31 37710.1016 8014.2998 4783.3501 22688.9004 15099.1797 33753.3281
2024-12-31 39131.5312 7728.5000 5088.7998 16790.8008 16041.6201 39233.7109

In [7]:
np.allclose(a, b)

True

### Calulate the mean and standard deviation of returns by ticker for the MATANA (MSFT, AAPL, TSLA, AMZN, NVDA, and GOOG) stocks

Consider only dates with complete returns data.
Try this calculation with wide and long data frames, and confirm your results are the same.

In [8]:
matana = (
    yf.download(tickers='MSFT AAPL TSLA AMZN NVDA GOOG')
    .rename_axis(columns=['Variable', 'Ticker'])
)

[*********************100%%**********************]  6 of 6 completed

We can add the returns columns first, using the `pd.MultiIndex` trick from a few weeks ago.

In [9]:
_ = pd.MultiIndex.from_product([['Return'], matana['Adj Close'].columns])
matana[_] = matana['Adj Close'].iloc[:-1].pct_change()

In [10]:
(
    matana['Return']
    .dropna()
    .describe()
    .loc[['mean', 'std']]
)

Ticker   AAPL   AMZN   GOOG   MSFT   NVDA   TSLA
mean   0.0011 0.0012 0.0009 0.0010 0.0021 0.0020
std    0.0176 0.0207 0.0172 0.0163 0.0283 0.0358

In [11]:
a = (
    matana['Return']
    .dropna()
    .agg(['mean', 'std'])
)

Here is the `.pivot_table()` solution!

In [12]:
b = (
    matana
    .dropna()
    .stack()
    .pivot_table(
        values='Return',
        index='Ticker',
        aggfunc=['mean', 'std']
    )
)

b

           mean    std
Variable Return Return
Ticker
AAPL     0.0011 0.0176
AMZN     0.0012 0.0207
GOOG     0.0009 0.0172
MSFT     0.0010 0.0163
NVDA     0.0021 0.0283
TSLA     0.0020 0.0358

In [13]:
np.allclose(a, b)

ValueError: operands could not be broadcast together with shapes (2,6) (6,2)

---

What if we want to add skewness and kurtosis?
There a skewness method built-in, but we have to write a lambda function for kurtosis.

In [ ]:
(
    matana
    .dropna()
    .stack()
    .pivot_table(
        values='Return',
        index='Ticker',
        aggfunc=['mean', 'std', 'skew', lambda x: x.kurt()]
    )
    .rename(columns={'<lambda>': 'kurt'})
)

Here is the `.groupby()` solution!

In [ ]:
c = (
    matana
    .dropna()
    .stack()
    .groupby('Ticker')
    ['Return']
    .agg(['mean', 'std'])
)

c

In [ ]:
np.allclose(a, c)

### Calculate the mean and standard deviation of returns and the maximum of closing prices by ticker for the MATANA stocks

Again, consider only dates with complete returns data.
Try this calculation with wide and long data frames, and confirm your results are the same.

In [ ]:
a = (
    matana
    .dropna()
    .stack()
    .pivot_table(
        index='Ticker',
        aggfunc={'Return': ['mean', 'std'], 'Close': 'max'}
    )
)

a

In [ ]:
b = (
    matana
    .dropna()
    .stack()
    .groupby('Ticker')
    .agg({'Return': ['mean', 'std'], 'Close':'max'})
)

b

In [ ]:
np.allclose(a, b)

The `.pivot_table()` method sorts it columns, but `groupby()` method does not!
We need to sort columns with `.sort_index(axis=1)` to make sure our output is the same!

In [ ]:
np.allclose(
    a.sort_index(axis=1),
    b.sort_index(axis=1)
)

---

We can use the following code to display all index levels for all rows and columns.

In [ ]:
with pd.option_context('display.multi_sparse', False):
    display(b)

If we prefer to see all index levels all the time, we can set the following setting at the top of our notebook:

```
pd.options.display.multi_sparse = False
```

We can also copy our output to our clipboaerd then paste it into Excel if we want to convince ourelves of the column multi index arrangement.

In [ ]:
b.to_clipboard()

---

### Calculate monthly means and volatilities for SPY and GOOG returns

### Plot the monthly means and volatilities from the previous exercise

### Assign the Dow Jones stocks to five portfolios based on their monthly volatility

First, we need to download Dow Jones stock data and calculate daily returns.
Use data from 2019 through today.

### Plot the time-series volatilities of these five portfolios

How do these portfolio volatilies compare to (1) each other and (2) the mean volatility of their constituent stocks?

### Calculate the *mean* monthly correlation between the Dow Jones stocks

Drop duplicate correlations and self correlations (i.e., correlation between AAPL and AAPL), which are 1, by definition.

### Is market volatility higher during wars?

Here is some guidance:

1. Download the daily factor data from Ken French's website
1. Calculate daily market returns by summing the market risk premium and risk-free rates (`Mkt-RF` and `RF`, respectively)
1. Calculate the volatility (standard deviation) of daily returns *every month* by combining `pd.Grouper()` and `.groupby()`)
1. Multiply by $\sqrt{252}$ to annualize these volatilities of daily returns
1. Plot these annualized volatilities

Is market volatility higher during wars?
Consider the following dates:

1. WWII: December 1941 to September 1945
1. Korean War: 1950 to 1953
1. Viet Nam War: 1959 to 1975
1. Gulf War: 1990 to 1991
1. War in Afghanistan: 2001 to 2021