# McKinney Chapter 2 - Practice for Section 04

## Announcements

There are no due dates this week, but please take note of a few due dates next week:

1. Before class on Tuesday, complete the week 2 pre-class quiz
2. By Friday 1/19 at 11:59 PM:
    1. Acknowledge the academic integrity section of our syllabus
    1. Complete the first DataCamp course and upload your certificate

## 5-minute Recap

### First, Python variables are references to objects.

In [1]:
a = [1, 2, 3]

a

[1, 2, 3]

In [2]:
b = a

b

[1, 2, 3]

***Python is zero-indexed!***

In [3]:
b[0]

1

In [4]:
b[0] = 2_001

b

[2001, 2, 3]

So both variables reflect changes to the referenced object.

In [5]:
a

[2001, 2, 3]

Variables `a` and `b` are two names for the same list in memory!

In [6]:
b is a

True

We can also reassign a new object, which does not change the original object.

In [7]:
a = 'Och'

a

'Och'

In [8]:
b

[2001, 2, 3]

### Second, we can define functions to re-use code

In [9]:
def square_root(x):
    return x ** 0.5

In [10]:
square_root(4)

2.0

In [11]:
square_root(9)

3.0

Note that white space is requried and not just cosmetic!
Our `square_root()` function does not work without the white space!

In [12]:
# def square_root(x):
# return x ** 0.5
#   Cell In[26], line 2
#     return x ** 0.5
#     ^
# IndentationError: expected an indented block after function definition on line 1

### Third, `if-elif-else` blocks let us conditionally run code blocks

Again, note the white space is required and not just cosmetic.

In [13]:
x = 5
if x < 0:
    print(f'{x} is negative')
elif x == 0:
    print(f'{x} is zero')
else:
    print(f'{x} is positive')

5 is positive

## Practice

### Extract the year, month, and day from an integer 8-digit date (i.e., YYYYMMDD format) using `//` (integer division) and `%` (modulo division).

Try `20080915`.

In [14]:
1234 / 100

12.34

In [15]:
1234 // 100

12

In [16]:
1234 % 100

34

In [17]:
12 / 5

2.4

In [18]:
12 // 5

2

In [19]:
12 % 5

2

In [20]:
lb_collapse = 20080915

In [21]:
lb_collapse // 10_000

2008

In [22]:
lb_collapse % 10_000 // 100

9

In [23]:
lb_collapse % 100

15

### Use your answer above to write a function `date` that accepts an integer 8-digit date argument and returns a tuple of the year, month, and date (e.g., `return (year, month, day)`).

In [24]:
def date(ymd):
    year = ymd // 10_000
    month = ymd % 10_000 // 100
    day = ymd % 100
    return (year, month, day)

In [25]:
date(lb_collapse)

(2008, 9, 15)

In [26]:
date(20240112)

(2024, 1, 12)

### Rewrite `date` to accept an 8-digit date as an integer or string.

In [27]:
def date_2(ymd):
    if type(ymd) is str:
        ymd = int(ymd)
    year = ymd // 10_000
    month = ymd % 10_000 // 100
    day = ymd % 100
    return (year, month, day)

In [28]:
date_2('20080915')

(2008, 9, 15)

### Finally, rewrite `date` to accept a list of 8-digit dates as integers or strings.

Return a list of tuples of year, month, and date.

In [29]:
ymds = [20080915, '20080916']

In [30]:
def date_3(ymds):
    dates = []
    for ymd in ymds:
        if type(ymd) is str:
            ymd = int(ymd)
        year = ymd // 10_000
        month = ymd % 10_000 // 100
        day = ymd % 100
        dates.append((year, month, day))
    return dates

In [31]:
date_3(ymds)

[(2008, 9, 15), (2008, 9, 16)]

### Write a for loop that prints the squares of integers from 1 to 10.

In [32]:
for i in range(1, 11):
    print(i**2, end=' ')

1 4 9 16 25 36 49 64 81 100

Above, I change the `end` argument to a space to shorten the output.

### Write a for loop that prints the squares of *even* integers from 1 to 10.

In [33]:
for i in range(1, 11):
    if i%2 == 0:
        print(i**2, end=' ')

4 16 36 64 100

We can also change the arguments to `range()` to start at 2 and take steps of 2!

In [34]:
for i in range(2, 11, 2):
    print(i**2, end=' ')

4 16 36 64 100

### Write a for loop that sums the squares of integers from 1 to 10.

In [35]:
sum = 0
for i in range(1, 11):
    sum = sum + i**2

sum

385

We can replace the `sum = sum + i**2` with `sum += i**2`.

In [36]:
sum = 0
for i in range(1, 11):
    sum += i**2

sum

385

There are also `-=`, `*=`, and `/=` operators.

In [37]:
sum = 1
for i in range(1, 11):
    sum *= i**2
    
sum

13168189440000

### Write a for loop that sums the squares of integers from 1 to 10 but stops before the sum exceeds 50.

In [38]:
total = 0
for i in range(1, 11):
    if (total + i**2) > 50:
        break
    total += i**2

total

30

### FizzBuzz

Write a for loop that prints the numbers from 1 to 100. 
For multiples of three print "Fizz" instead of the number.
For multiples of five print "Buzz". 
For numbers that are multiples of both three and five print "FizzBuzz".
More [here](https://blog.codinghorror.com/why-cant-programmers-program/).

In [39]:
for i in range(1, 101):
    if (i%3 == 0) and (i%5 == 0):
        print('FizzBuzz', end=' ')
    elif i%3 == 0:
        print('Fizz', end=' ')
    elif i%5 == 0:
        print('Buzz', end=' ')
    else:
        print(i, end=' ')

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

### Use ternary expressions to make your FizzBuzz code more compact.

In [40]:
'Fizz' + 'Buzz'

'FizzBuzz'

In [41]:
'Fizz' + 'Fizz'

'FizzFizz'

In [42]:
'Fizz' * 2

'FizzFizz'

In [43]:
'Fizz' * 0

''

In [44]:
'Fizz'*True + 'Buzz'*True

'FizzBuzz'

In [45]:
for i in range(1, 101):
    print('Fizz'*(i%3==0) + 'Buzz'*(i%5==0) if (i%3==0) or (i%5==0) else i, end=' ')

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

The solution above is shorter and uses from neat tricks, but I consider the previous solution easier to read and troubleshoot. The solution above uses the trick that we can multiply a string by `True` or `False` to return the string itself or an empty string.

In [46]:
'Hey!'*True

'Hey!'

In [47]:
'Hey!'*False

''

Someone pointed out an even shorter solution with `or`!

In [48]:
for i in range(1, 101):
    print('Fizz'*(i%3==0) + 'Buzz'*(i%5==0) or i, end=' ')

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

### Triangle

Write a function `triangle` that accepts a positive integer $N$ and prints a numerical triangle of height $N-1$.
For example, `triangle(N=6)` should print:

```
1
22
333
4444
55555
```

In [49]:
def triangle(N):
    for i in range(1, N):
        print(str(i) * i)

In [50]:
triangle(6)

1
22
333
4444
55555

The solution above works because a multiplying a string by `i` concatenates `i` copies of the string.

In [51]:
'Test' + 'Test' + 'Test'

'TestTestTest'

In [52]:
'Test' * 3

'TestTestTest'

### Two Sum

Write a function `two_sum` that does the following.

Given an array of integers `nums` and an integer `target`, return the indices of the two numbers that add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

Here are some examples:

Example 1:

Input: `nums = [2,7,11,15]`, `target = 9` \
Output: `[0,1]` \
Explanation: Because `nums[0] + nums[1] == 9`, we return `[0, 1]`.

Example 2:

Input: `nums = [3,2,4]`, `target = 6` \
Output: `[1,2]` \

Example 3:

Input: `nums = [3,3]`, `target = 6` \
Output: `[0,1]` \

I saw this question on [LeetCode](https://leetcode.com/problems/two-sum/description/).

In [53]:
def two_sum(nums, target):
    for i in range(1, len(nums)):
        for j in range(i):
            if nums[i] + nums[j] == target:
                return [j, i]

In [54]:
two_sum(nums = [2,7,11,15], target = 9)

[0, 1]

In [55]:
two_sum(nums = [3,2,4], target = 6)

[1, 2]

In [56]:
two_sum(nums = [3,3], target = 6)

[0, 1]

We can write more efficient code once we learn other data structures in chapter 3 of McKinney!

### Best Time

Write a function `best_time` that solves the following.

You are given an array `prices` where `prices[i]` is the price of a given stock on the $i^{th}$ day.

You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the future to sell that stock.

Return the maximum profit you can achieve from this transaction. If you cannot achieve any profit, return 0.

Here are some examples:

Example 1:

Input: `prices = [7,1,5,3,6,4]` \
Output: `5` \
Explanation: Buy on day 2 (price = 1) and sell on day 5 (price = 6), profit = 6-1 = 5.
Note that buying on day 2 and selling on day 1 is not allowed because you must buy before you sell.

Example 2:

Input: `prices = [7,6,4,3,1]` \
Output: `0` \
Explanation: In this case, no transactions are done and the max profit = 0.

I saw this question on [LeetCode](https://leetcode.com/problems/best-time-to-buy-and-sell-stock/).

In [57]:
def max_profit(prices):
        min_price = prices[0]
        max_profit = 0
        for price in prices:
            min_price = price if price < min_price else min_price
            profit = price - min_price
            max_profit = profit if profit > max_profit else max_profit
        return max_profit

In [58]:
max_profit(prices=[7,1,5,3,6,4])

5

In [59]:
max_profit(prices=[7,6,4,3,1])

0