# McKinney Chapter 5 - Practice (Blank)

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import yfinance as yf
import requests_cache

In [2]:
%config InlineBackend.figure_format = 'retina'
%precision 4
pd.options.display.float_format = '{:.4f}'.format
session = requests_cache.CachedSession()

In [3]:
tickers = yf.Tickers('AAPL IBM MSFT GOOG', session=session)
prices = tickers.history(period='max', auto_adjust=False, progress=False)
prices.index = prices.index.tz_localize(None)
returns = prices['Adj Close'].pct_change().dropna()
returns

[*********************100%***********************]  4 of 4 completed

              AAPL    GOOG     IBM    MSFT
Date
2004-08-20  0.0029  0.0794  0.0042  0.0030
2004-08-23  0.0091  0.0101 -0.0070  0.0044
2004-08-24  0.0280 -0.0414  0.0007  0.0000
2004-08-25  0.0344  0.0108  0.0042  0.0114
2004-08-26  0.0487  0.0180 -0.0045 -0.0040
...            ...     ...     ...     ...
2023-01-18 -0.0054 -0.0041 -0.0329 -0.0189
2023-01-19  0.0004  0.0232  0.0015 -0.0165
2023-01-20  0.0192  0.0572  0.0041  0.0357
2023-01-23  0.0235  0.0194  0.0047  0.0098
2023-01-24  0.0109 -0.0186 -0.0029 -0.0008

[4639 rows x 4 columns]

## Practice

### What are the mean daily returns for these four stocks?

### What are the standard deviations of daily returns for these four stocks?

### What are the *annualized* means and standard deviations of daily returns for these four stocks?

### Plot *annualized* means versus standard deviations of daily returns for these four stocks

Use `plt.scatter()`, which expects arguments as `x` (standard deviations) then `y` (means).

### Repeat the previous calculations and plot for the stocks in the Dow-Jones Industrial Index (DJIA)

We can find the current DJIA stocks on [Wikipedia](https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average).
We will need to download new data, into `tickers2`, `prices2`, and `returns2`.

### Calculate total returns for the stocks in the DJIA

We can use the `.prod()` method to compound returns as $1 + R_T = \prod_{t=1}^T (1 + R_t)$.
Technically, we should write $R_T$ as $R_{0,T}$, but we typically omit the subscript $0$.

### Plot the distribution of total returns for the stocks in the DJIA

We can plot a histogram, using either the `plt.hist()` function or the `.plot(kind='hist')` method.

### Which stocks have the minimum and maximum total returns?

### Plot the cumulative returns for the stocks in the DJIA

We can use the cumulative product method `.cumprod()` to calculate the right hand side of the formula above.

### Repeat the plot above with only the minimum and maximum total returns