# McKinney Chapter 8 - Practice for Section 02

## Announcements

1. *Joining Data with pandas*, our fourth and final DataCamp course, is due by Friday, 2/16, at 11:59 PM
2. We will use class next week, from 2/19 through 2/23, for group work on Project 1, so there is no lecture video or pre-class quiz
3. Project 1 is due by Tuesday, 2/27, at 8:25 AM
3. Please complete the [anonymous ungraded survey on Canvas](https://northeastern.instructure.com/courses/171271/quizzes/586970) to help me help you learn better:

## 10-Minute Recap

Chapter 8 of McKinney covers 3 topics.

1. *Hierarchical Indexing:* Hierarchical indexing helps us organize data at multiple levels, rather than just a flat, two-dimensional structure.
It helps is work with high-dimensional data in a low-dimensional form.
For example, we can index rows by multiple levels like "ticker" and "date", or columns by "variable" and "ticker".
2. *Combining Data:* We can combine datasets on one or more keys.
    1. We will use the `pd.merge()` function for database-style joins, which can be `inner`, `outer`, `left`, or `right` joins.
    2. We will use the `.join()` method to combine data frames with similar indexes.
    3. We will use the `pd.concat()` to combine similarly-shaped series and data frames.
4. *Reshaping Data:* We can reshape data to change its structure, such as pivoting from wide to long format or vice versa.
We will most often use the `.stack()` and `.unstack()` methods, which pivot columns to rows and rows to columns, respectively.
Laster in the course we will learn about the `.pivot()` method for aggregating data and the `.melt()` method for more advanced reshaping.

## Practice

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pandas_datareader as pdr
import yfinance as yf

In [2]:
%precision 4
pd.options.display.float_format = '{:.4f}'.format
%config InlineBackend.figure_format = 'retina'

### Download data from Yahoo! Finance for BAC, C, GS, JPM, MS, and PNC and assign to data frame `stocks`.

Use `.rename_axis(columns=stocks.columns.names = ['Variable', 'Ticker'])` to assign the names `Variable` and `Ticker` to the column multi index.
We could instead use `stocks.columns.names = ['Variable', 'Ticker']`, but we can chain the `.rename_axis()` method.

In [3]:
stocks = (
    yf.download(tickers='BAC C GS JPM MS PNC')
    .rename_axis(columns=['Variable', 'Ticker'])
)

[*********************100%%**********************]  6 of 6 completed

In [4]:
stocks.tail()

Variable   Adj Close                                              Close  \
Ticker           BAC       C       GS      JPM      MS      PNC     BAC
Date
2024-02-09   33.0700 53.9900 384.2600 175.0100 85.8900 147.7700 33.0700
2024-02-12   33.6200 53.9200 392.6400 175.7900 86.8700 149.1400 33.6200
2024-02-13   32.7500 52.7600 378.7500 174.2600 83.9700 145.2600 32.7500
2024-02-14   33.1300 53.9800 378.0400 176.0300 84.0000 147.8700 33.1300
2024-02-15   34.0700 55.2100 385.4200 179.8700 85.6700 149.6300 34.0700

Variable                              ...     Open                            \
Ticker           C       GS      JPM  ...       GS      JPM      MS      PNC
Date                                  ...
2024-02-09 53.9900 384.2600 175.0100  ... 384.7700 175.0000 85.6900 147.8700
2024-02-12 53.9200 392.6400 175.7900  ... 385.0000 174.7800 85.8600 147.7700
2024-02-13 52.7600 378.7500 174.2600  ... 387.5900 175.3200 85.8600 146.7800
2024-02-14 53.9800 378.0400 176.0300  ... 380.8800 175.0700 84.5400 146.6300
2024-02-15 55.2100 385.4200 179.8700  ... 379.4200 176.1500 84.4500 148.7500

Variable      Volume                                                        \
Ticker           BAC             C           GS          JPM            MS
Date
2024-02-09  36176000 13843300.0000 2028200.0000 6296700.0000  5664500.0000
2024-02-12  34160400 17162300.0000 2797200.0000 8539300.0000  7888000.0000
2024-02-13  43801500 17672100.0000 3030800.0000 8397600.0000 11339400.0000
2024-02-14  27833900 14891900.0000 2041300.0000 7056700.0000  5973700.0000
2024-02-15  41557209 16288325.0000 1780459.0000 8718729.0000  7981854.0000

Variable
Ticker              PNC
Date
2024-02-09 1157600.0000
2024-02-12 1612700.0000
2024-02-13 2121400.0000
2024-02-14 1265300.0000
2024-02-15 1991304.0000

[5 rows x 36 columns]

### Reshape `stocks` from wide to long with dates and tickers as row indexes and assign to data frame `stocks_long`.

In [5]:
stocks_long = stocks.stack()

In [6]:
stocks_long.tail()

Variable           Adj Close    Close     High      Low     Open        Volume
Date       Ticker
2024-02-15 C         55.2100  55.2100  55.4800  54.1350  54.2200 16288325.0000
           GS       385.4200 385.4200 387.2100 379.3500 379.4200  1780459.0000
           JPM      179.8700 179.8700 180.2100 176.1500 176.1500  8718729.0000
           MS        85.6700  85.6700  86.2300  84.4100  84.4500  7981854.0000
           PNC      149.6300 149.6300 150.2575 147.3700 148.7500  1991304.0000

### Add daily returns for each stock to data frames `stocks` and `stocks_long`.

Name the returns variable `Returns`, and maintain all multi indexes.
*Hint:* Use `pd.MultiIndex()` to create a multi index for the the wide data frame `stocks`.

In [7]:
_ = pd.MultiIndex.from_product([['Returns'], stocks['Adj Close'].columns]) # I use _ as a temporary variable
stocks[_] = stocks['Adj Close'].iloc[:-1].pct_change()

In [8]:
stocks.tail()

Variable   Adj Close                                              Close  \
Ticker           BAC       C       GS      JPM      MS      PNC     BAC
Date
2024-02-09   33.0700 53.9900 384.2600 175.0100 85.8900 147.7700 33.0700
2024-02-12   33.6200 53.9200 392.6400 175.7900 86.8700 149.1400 33.6200
2024-02-13   32.7500 52.7600 378.7500 174.2600 83.9700 145.2600 32.7500
2024-02-14   33.1300 53.9800 378.0400 176.0300 84.0000 147.8700 33.1300
2024-02-15   34.0700 55.2100 385.4200 179.8700 85.6700 149.6300 34.0700

Variable                              ...       Volume               \
Ticker           C       GS      JPM  ...           GS          JPM
Date                                  ...
2024-02-09 53.9900 384.2600 175.0100  ... 2028200.0000 6296700.0000
2024-02-12 53.9200 392.6400 175.7900  ... 2797200.0000 8539300.0000
2024-02-13 52.7600 378.7500 174.2600  ... 3030800.0000 8397600.0000
2024-02-14 53.9800 378.0400 176.0300  ... 2041300.0000 7056700.0000
2024-02-15 55.2100 385.4200 179.8700  ... 1780459.0000 8718729.0000

Variable                              Returns                                  \
Ticker                MS          PNC     BAC       C      GS     JPM      MS
Date
2024-02-09  5664500.0000 1157600.0000 -0.0015 -0.0055 -0.0020  0.0012  0.0028
2024-02-12  7888000.0000 1612700.0000  0.0166 -0.0013  0.0218  0.0045  0.0114
2024-02-13 11339400.0000 2121400.0000 -0.0259 -0.0215 -0.0354 -0.0087 -0.0334
2024-02-14  5973700.0000 1265300.0000  0.0116  0.0231 -0.0019  0.0102  0.0004
2024-02-15  7981854.0000 1991304.0000     NaN     NaN     NaN     NaN     NaN

Variable
Ticker         PNC
Date
2024-02-09 -0.0011
2024-02-12  0.0093
2024-02-13 -0.0260
2024-02-14  0.0180
2024-02-15     NaN

[5 rows x 42 columns]

The easiest way to add returns to long data frame `stocks_long` is to `.stack()` the wide data frame `stocks`!
We could sort `stocks_long` by ticker and date (to sort chronologically within each ticker), then use `.pct_change()`.
However, this approach miscalculates the first return for every ticker except for the first ticker.
The easiest and safest solution is to `.stack()` the wide data frame `stocks`!

In [9]:
stocks_long = stocks.stack()

In [10]:
stocks_long.tail()

Variable           Adj Close    Close     High      Low     Open  \
Date       Ticker
2024-02-15 C         55.2100  55.2100  55.4800  54.1350  54.2200
           GS       385.4200 385.4200 387.2100 379.3500 379.4200
           JPM      179.8700 179.8700 180.2100 176.1500 176.1500
           MS        85.6700  85.6700  86.2300  84.4100  84.4500
           PNC      149.6300 149.6300 150.2575 147.3700 148.7500

Variable                 Volume  Returns
Date       Ticker
2024-02-15 C      16288325.0000      NaN
           GS      1780459.0000      NaN
           JPM     8718729.0000      NaN
           MS      7981854.0000      NaN
           PNC     1991304.0000      NaN

### Download the daily benchmark return factors from Ken French's data library.

I rarely remember the exact combination of uppercase and lowercase letters, dashes, and underscores, so I use `pdr.famafrench.get_available_datasets()` to display the list of available names for data from Ken French's website.

In [11]:
pdr.famafrench.get_available_datasets()[:5]

['F-F_Research_Data_Factors',
 'F-F_Research_Data_Factors_weekly',
 'F-F_Research_Data_Factors_daily',
 'F-F_Research_Data_5_Factors_2x3',
 'F-F_Research_Data_5_Factors_2x3_daily']

In [12]:
ff = (
    pdr.DataReader(
        name='F-F_Research_Data_Factors_daily',
        data_source='famafrench',
        start='1900' # otherwise, pdr.DataReader defaults to the last five years of data
    )
    [0] # pdr.DataReader returns a dictionary of data frames
    .div(100) # French stores returns as percents, but our stock returns are decimals
)

C:\Users\r.herron\AppData\Local\Temp\ipykernel_13496\1909726130.py:2: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  pdr.DataReader(

In [13]:
ff.tail()

            Mkt-RF     SMB     HML     RF
Date
2023-12-22  0.0021  0.0064  0.0009 0.0002
2023-12-26  0.0048  0.0069  0.0046 0.0002
2023-12-27  0.0016  0.0014  0.0012 0.0002
2023-12-28 -0.0001 -0.0036  0.0003 0.0002
2023-12-29 -0.0043 -0.0112 -0.0037 0.0002

### Add the daily benchmark return factors to `stocks` and `stocks_long`.

For the wide data frame `stocks`, use the outer index name `Factors`.

For the wide data frame `stocks`, the simplest approach is to create a multi index with four columns, one for each of the four factors.

In [14]:
_ = pd.MultiIndex.from_product([['Factors'], ff.columns]) # I use _ as a temporary variable
stocks[_] = ff

In [15]:
stocks.tail()

Variable   Adj Close                                              Close  \
Ticker           BAC       C       GS      JPM      MS      PNC     BAC
Date
2024-02-09   33.0700 53.9900 384.2600 175.0100 85.8900 147.7700 33.0700
2024-02-12   33.6200 53.9200 392.6400 175.7900 86.8700 149.1400 33.6200
2024-02-13   32.7500 52.7600 378.7500 174.2600 83.9700 145.2600 32.7500
2024-02-14   33.1300 53.9800 378.0400 176.0300 84.0000 147.8700 33.1300
2024-02-15   34.0700 55.2100 385.4200 179.8700 85.6700 149.6300 34.0700

Variable                              ... Returns                          \
Ticker           C       GS      JPM  ...     BAC       C      GS     JPM
Date                                  ...
2024-02-09 53.9900 384.2600 175.0100  ... -0.0015 -0.0055 -0.0020  0.0012
2024-02-12 53.9200 392.6400 175.7900  ...  0.0166 -0.0013  0.0218  0.0045
2024-02-13 52.7600 378.7500 174.2600  ... -0.0259 -0.0215 -0.0354 -0.0087
2024-02-14 53.9800 378.0400 176.0300  ...  0.0116  0.0231 -0.0019  0.0102
2024-02-15 55.2100 385.4200 179.8700  ...     NaN     NaN     NaN     NaN

Variable                   Factors
Ticker          MS     PNC  Mkt-RF SMB HML  RF
Date
2024-02-09  0.0028 -0.0011     NaN NaN NaN NaN
2024-02-12  0.0114  0.0093     NaN NaN NaN NaN
2024-02-13 -0.0334 -0.0260     NaN NaN NaN NaN
2024-02-14  0.0004  0.0180     NaN NaN NaN NaN
2024-02-15     NaN     NaN     NaN NaN NaN NaN

[5 rows x 46 columns]

In [16]:
stocks_long = stocks_long.join(ff)

In [17]:
stocks_long.head()

,,Adj Close,Close,High,Low,Open,Volume,Returns,Mkt-RF,SMB,HML,RF
Date,Ticker,,,,,,,,,,,
1973-02-21,BAC,1.5818,4.6250,4.6250,4.6250,4.6250,99200.0000,NaN,-0.0074,-0.0039,0.0054,0.0002
1973-02-22,BAC,1.5872,4.6406,4.6406,4.6406,4.6406,47200.0000,0.0034,-0.0030,-0.0037,0.0022,0.0002
1973-02-23,BAC,1.5818,4.6250,4.6250,4.6250,4.6250,133600.0000,-0.0034,-0.0108,-0.0019,0.0054,0.0002
1973-02-26,BAC,1.5818,4.6250,4.6250,4.6250,4.6250,24000.0000,0.0000,-0.0088,-0.0050,0.0054,0.0002
1973-02-27,BAC,1.5818,4.6250,4.6250,4.6250,4.6250,41600.0000,0.0000,-0.0115,-0.0018,0.0064,0.0002

In [18]:
stocks_long.loc['2023-12'].iloc[-12:]

                   Adj Close    Close     High      Low     Open  \
Date       Ticker
2023-12-28 BAC       33.8800  33.8800  33.9700  33.7700  33.8200
           C         51.0329  51.5200  51.8000  51.4000  51.4000
           GS       386.4100 386.4100 387.7600 383.6300 384.5200
           JPM      169.2563 170.3000 170.6600 169.0000 169.3500
           MS        92.7316  93.6400  93.9500  93.2400  93.3100
           PNC      154.0486 155.6300 156.2100 154.9500 155.4400
2023-12-29 BAC       33.6700  33.6700  33.9900  33.5500  33.9400
           C         50.9537  51.4400  51.6100  51.2200  51.5600
           GS       385.7700 385.7700 386.6400 383.5700 385.5700
           JPM      169.0575 170.1000 170.6900 169.6300 170.0000
           MS        92.3454  93.2500  93.7700  93.0600  93.4900
           PNC      153.2765 154.8500 156.1100 154.5200 155.2700

                         Volume  Returns  Mkt-RF     SMB     HML     RF
Date       Ticker
2023-12-28 BAC    21799600.0000   0.0012 -0.0001 -0.0036  0.0003 0.0002
           C      10218500.0000   0.0012 -0.0001 -0.0036  0.0003 0.0002
           GS      1024700.0000   0.0050 -0.0001 -0.0036  0.0003 0.0002
           JPM     6320100.0000   0.0053 -0.0001 -0.0036  0.0003 0.0002
           MS      4089500.0000  -0.0002 -0.0001 -0.0036  0.0003 0.0002
           PNC     1153300.0000   0.0041 -0.0001 -0.0036  0.0003 0.0002
2023-12-29 BAC    28037800.0000  -0.0062 -0.0043 -0.0112 -0.0037 0.0002
           C      13147900.0000  -0.0016 -0.0043 -0.0112 -0.0037 0.0002
           GS       881300.0000  -0.0017 -0.0043 -0.0112 -0.0037 0.0002
           JPM     6431800.0000  -0.0012 -0.0043 -0.0112 -0.0037 0.0002
           MS      4772100.0000  -0.0042 -0.0043 -0.0112 -0.0037 0.0002
           PNC     1572600.0000  -0.0050 -0.0043 -0.0112 -0.0037 0.0002

### Write a function `download()` that accepts tickers and returns a wide data frame of returns with the daily benchmark return factors.

We can even add a `shape` argument to return a wide or long data frame!

In [19]:
def download(tickers, shape='wide'):
    if shape.lower() not in ['wide', 'long']:
        raise ValueError('Invalid shape: must be "wide" or "long".')

    stocks = yf.download(tickers)

    factors_all = (
        pdr.DataReader(
            name='F-F_Research_Data_Factors_daily',
            data_source='famafrench',
            start='1900'
        )
    )
    
    factors = factors_all[0].div(100)
    
    # if stocks has a multi index on the columns because we asked for more than one ticker
    # then we have more work to do
    if type(stocks.columns) is pd.MultiIndex:
        
        # whether we want a wide or long data frame, it is easier to add returns to a wide data frame
        _ = pd.MultiIndex.from_product([['Returns'], stocks['Adj Close'].columns])
        stocks[_] = stocks['Adj Close'].pct_change()

        # if we want a wide data frame, then we need a factors multi index
        if shape.lower() == 'wide':
            _ = pd.MultiIndex.from_product([['Factors'], factors.columns])
            stocks[_] = factors
            return stocks.rename_axis(columns=['Variable', 'Ticker'])

        # if we want a long data frame, then we need to stack stocks and join factors
        # because we tested for wide and long above, we know that here shape must be long
        else:
            return stocks.stack().join(factors).rename_axis(columns=['Variable'], index=['Date', 'Ticker'])
            
    # if stocks does not have a multi index on the columns
    # then we only have join factors
    else:
        return stocks.join(ff).rename_axis(columns=['Variable'])

In [20]:
download(tickers=['AAPL', 'TSLA'], shape='long')

[*********************100%%**********************]  2 of 2 completed
C:\Users\r.herron\AppData\Local\Temp\ipykernel_13496\3667605341.py:8: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  pdr.DataReader(

Variable           Adj Close    Close     High      Low     Open  \
Date       Ticker
1980-12-12 AAPL       0.0992   0.1283   0.1289   0.1283   0.1283
1980-12-15 AAPL       0.0940   0.1217   0.1222   0.1217   0.1222
1980-12-16 AAPL       0.0871   0.1127   0.1133   0.1127   0.1133
1980-12-17 AAPL       0.0893   0.1155   0.1161   0.1155   0.1155
1980-12-18 AAPL       0.0919   0.1189   0.1194   0.1189   0.1189
...                      ...      ...      ...      ...      ...
2024-02-13 TSLA     184.0200 184.0200 187.2600 182.1100 183.9900
2024-02-14 AAPL     184.1500 184.1500 185.5300 182.4400 185.3200
           TSLA     188.7100 188.7100 188.8900 183.3500 185.3000
2024-02-15 AAPL     183.8600 183.8600 184.4900 181.4000 183.5500
           TSLA     200.4500 200.4500 200.8800 188.8595 189.1600

Variable                  Volume  Returns  Mkt-RF     SMB     HML     RF
Date       Ticker
1980-12-12 AAPL   469033600.0000      NaN  0.0138 -0.0001 -0.0105 0.0006
1980-12-15 AAPL   175884800.0000  -0.0522  0.0011  0.0025 -0.0046 0.0006
1980-12-16 AAPL   105728000.0000  -0.0734  0.0071 -0.0075 -0.0047 0.0006
1980-12-17 AAPL    86441600.0000   0.0248  0.0152 -0.0086 -0.0034 0.0006
1980-12-18 AAPL    73449600.0000   0.0290  0.0041  0.0022  0.0126 0.0006
...                          ...      ...     ...     ...     ...    ...
2024-02-13 TSLA    86759500.0000  -0.0218     NaN     NaN     NaN    NaN
2024-02-14 AAPL    54630500.0000  -0.0048     NaN     NaN     NaN    NaN
           TSLA    81203000.0000   0.0255     NaN     NaN     NaN    NaN
2024-02-15 AAPL    63936069.0000  -0.0016     NaN     NaN     NaN    NaN
           TSLA   119932134.0000   0.0622     NaN     NaN     NaN    NaN

[14317 rows x 11 columns]

### Download earnings per share for the stocks in `stocks` and combine to a long data frame `earnings`.

Use the `.earnings_dates` method described [here](https://pypi.org/project/yfinance/).
Use `pd.concat()` to combine the result of each the `.earnings_date` data frames and assign them to a new data frame `earnings`.
Name the row indexes `Ticker` and `Date` and swap to match the order of the row index in `stocks_long`.

### Combine `earnings` with the returns from `stocks_long`.

***It is easier to leave `stocks` and `stocks_long` as-is and work with slices `returns` and `returns_long`.***
Use the `tz_localize('America/New_York')` method add time zone information back to `returns.index` and use `pd.to_timedelta(16, unit='h')` to set time to the market close in New York City.
Use [`pd.merge_asof()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge_asof.html) to match earnings announcement dates and times to appropriate return periods.
For example, if a firm announces earnings after the close at 5 PM on February 7, we want to match the return period from 4 PM on February 7 to 4 PM on February 8.

### Plot the relation between daily returns and earnings surprises

Three options in increasing difficulty:

1. Scatter plot
1. Scatter plot with a best-fit line using `regplot()` from the seaborn package
1. Bar plot using `barplot()` from the seaborn package after using `pd.qcut()` to form five groups on earnings surprises

### Repeat the earnings exercise with the S&P 100 stocks

### Repeat the earnings exercise with *excess returns* of the S&P 100 Stocks

Excess returns are returns minus market returns.
We need to add a timezone and the closing time to the market return from Fama and French.