# McKinney Chapter 10 - Practice (Blank)

## Announcements

## Practice

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
%config InlineBackend.figure_format = 'retina'
%precision 4
pd.options.display.float_format = '{:.4f}'.format

In [5]:
import yfinance as yf
import pandas_datareader as pdr
import requests_cache
session = requests_cache.CachedSession()

### Replicate the following `.pivot_table()` output with `.groupby()`

In [6]:
ind = (
    yf.download(
        tickers='^GSPC ^DJI ^IXIC ^FTSE ^N225 ^HSI',
        progress=False
    )
    .rename_axis(columns=['Variable', 'Index'])
    .stack()
)

In [7]:
(
    ind
    .loc['2015':]
    .reset_index()
    .pivot_table(
        values='Close',
        index=pd.Grouper(key='Date', freq='A'),
        columns='Index',
        aggfunc=['min', 'max']
    )
)

                                 min                                 \
Index                           ^DJI     ^FTSE     ^GSPC       ^HSI
Date
2015-12-31 00:00:00+00:00 15666.4404 5874.1001 1867.6100 20556.5996
2016-12-31 00:00:00+00:00 15660.1797 5537.0000 1829.0800 18319.5801
2017-12-31 00:00:00+00:00 19732.4004 7099.2002 2257.8301 22134.4707
2018-12-31 00:00:00+00:00 21792.1992 6584.7002 2351.1001 24585.5293
2019-12-31 00:00:00+00:00 22686.2207 6692.7002 2447.8899 25064.3594
2020-12-31 00:00:00+00:00 18591.9297 4993.8999 2237.3999 21696.1309
2021-12-31 00:00:00+00:00 29982.6191 6407.5000 3700.6499 22744.8594
2022-12-31 00:00:00+00:00 28725.5098 6826.2002 3577.0300 14687.0195
2023-12-31 00:00:00+00:00 32930.0781 7554.1001 3808.1001 20145.2891

                                                       max            \
Index                          ^IXIC      ^N225       ^DJI     ^FTSE
Date
2015-12-31 00:00:00+00:00  4506.4902 16795.9609 18312.3906 7104.0000
2016-12-31 00:00:00+00:00  4266.8398 14952.0195 19974.6191 7142.7998
2017-12-31 00:00:00+00:00  5429.0801 18335.6309 24837.5098 7687.7998
2018-12-31 00:00:00+00:00  6192.9199 19155.7402 26828.3906 7877.5000
2019-12-31 00:00:00+00:00  6463.5000 19561.9609 28645.2598 7686.6001
2020-12-31 00:00:00+00:00  6860.6699 16552.8301 30606.4805 7674.6001
2021-12-31 00:00:00+00:00 12609.1602 27013.2500 36488.6289 7420.7002
2022-12-31 00:00:00+00:00 10213.2900 24717.5293 36799.6484 7672.3999
2023-12-31 00:00:00+00:00 10305.2402 25716.8594 34302.6094 8012.5000


Index                         ^GSPC       ^HSI      ^IXIC      ^N225
Date
2015-12-31 00:00:00+00:00 2130.8201 28442.7500  5218.8599 20868.0293
2016-12-31 00:00:00+00:00 2271.7200 24099.6992  5487.4399 19494.5293
2017-12-31 00:00:00+00:00 2690.1599 30003.4902  6994.7598 22939.1797
2018-12-31 00:00:00+00:00 2930.7500 33154.1211  8109.6899 24270.6191
2019-12-31 00:00:00+00:00 3240.0200 30157.4902  9022.3896 24066.1191
2020-12-31 00:00:00+00:00 3756.0701 29056.4199 12899.4199 27568.1504
2021-12-31 00:00:00+00:00 4793.0601 31084.9395 16057.4404 30670.0996
2022-12-31 00:00:00+00:00 4796.5601 24965.5508 15832.7998 29332.1602
2023-12-31 00:00:00+00:00 4179.7598 22688.9004 12200.8203 27696.4395

### Calulate the mean and standard deviation of returns by ticker for the MATANA (MSFT, AAPL, TSLA, AMZN, NVDA, and GOOG) stocks

Consider only dates with complete returns data.
Try this calculation with wide and long data frames, and confirm your results are the same.

### Calculate the mean and standard deviation of returns and the maximum of closing prices by ticker for the MATANA stocks

Again, consider only dates with complete returns data.
Try this calculation with wide and long data frames, and confirm your results are the same.

### Calculate monthly means and volatilities for SPY and GOOG returns

### Plot the monthly means and volatilities from the previous exercise

### Assign the Dow Jones stocks to five portfolios based on their monthly volatility

First, we need to download Dow Jones stock data and calculate daily returns.
Use data from 2019 through today.

### Plot the time-series volatilities of these five portfolios

How do these portfolio volatilies compare to (1) each other and (2) the mean volatility of their constituent stocks?

### Calculate the *mean* monthly correlation between the Dow Jones stocks

Drop duplicate correlations and self correlations (i.e., correlation between AAPL and AAPL), which are 1, by definition.

### Is market volatility higher during wars?

Here is some guidance:

1. Download the daily factor data from Ken French's website
1. Calculate daily market returns by summing the market risk premium and risk-free rates (`Mkt-RF` and `RF`, respectively)
1. Calculate the volatility (standard deviation) of daily returns *every month* by combining `pd.Grouper()` and `.groupby()`)
1. Multiply by $\sqrt{252}$ to annualize these volatilities of daily returns
1. Plot these annualized volatilities

Is market volatility higher during wars?
Consider the following dates:

1. WWII: December 1941 to September 1945
1. Korean War: 1950 to 1953
1. Viet Nam War: 1959 to 1975
1. Gulf War: 1990 to 1991
1. War in Afghanistan: 2001 to 2021