# McKinney Chapter 2 - Practice for Section 03

## Announcements

There are no due dates this week, but please take note of a few due dates next week:

1. Before class on Tuesday, complete the week 2 pre-class quiz
2. By Friday 1/19 at 11:59 PM:
    1. Acknowledge the academic integrity section of our syllabus
    1. Complete the first DataCamp course and upload your certificate

## 5-minute Recap

### First, Python variables are references to objects.

In [1]:
a = [1, 2, 3]

a

[1, 2, 3]

In [2]:
b = a

b

[1, 2, 3]

***Python is zero-indexed!***

In [3]:
b[0]

1

In [4]:
b[0] = 2_001

b

[2001, 2, 3]

So both variables reflect changes to the referenced object.

In [5]:
a

[2001, 2, 3]

Variables `a` and `b` are two names for the same list in memory!

In [6]:
b is a

True

We can also reassign a new object, which does not change the original object.

In [7]:
a = 'Och'

a

'Och'

In [8]:
b

[2001, 2, 3]

### Second, we can define functions to re-use code

In [9]:
def square_root(x):
    return x ** 0.5

In [10]:
square_root(4)

2.0

In [11]:
square_root(9)

3.0

Note that white space is requried and not just cosmetic!
Our `square_root()` function does not work without the white space!

In [12]:
# def square_root(x):
# return x ** 0.5
#   Cell In[26], line 2
#     return x ** 0.5
#     ^
# IndentationError: expected an indented block after function definition on line 1

### Third, `if-elif-else` blocks let us conditionally run code blocks

Again, note the white space is required and not just cosmetic.

In [13]:
x = 5
if x < 0:
    print(f'{x} is negative')
elif x == 0:
    print(f'{x} is zero')
else:
    print(f'{x} is positive')

5 is positive

## Practice

### Extract the year, month, and day from an integer 8-digit date (i.e., YYYYMMDD format) using `//` (integer division) and `%` (modulo division).

Try `20080915`.

### Use your answer above to write a function `date` that accepts an integer 8-digit date argument and returns a tuple of the year, month, and date (e.g., `return (year, month, date)`).

### Rewrite `date` to accept an 8-digit date as an integer or string.

### Finally, rewrite `date` to accept a list of 8-digit dates as integers or strings.

Return a list of tuples of year, month, and date.

### Write a for loop that prints the squares of integers from 1 to 10.

### Write a for loop that prints the squares of *even* integers from 1 to 10.

### Write a for loop that sums the squares of integers from 1 to 10.

### Write a for loop that sums the squares of integers from 1 to 10 but stops before the sum exceeds 50.

### FizzBuzz

Write a for loop that prints the numbers from 1 to 100. 
For multiples of three print "Fizz" instead of the number.
For multiples of five print "Buzz". 
For numbers that are multiples of both three and five print "FizzBuzz".
More [here](https://blog.codinghorror.com/why-cant-programmers-program/).

### Use ternary expressions to make your FizzBuzz code more compact.

### Triangle

Write a function `triangle` that accepts a positive integer $N$ and prints a numerical triangle of height $N-1$.
For example, `triangle(N=6)` should print:

```
1
22
333
4444
55555
```

### Two Sum

Write a function `two_sum` that does the following.

Given an array of integers `nums` and an integer `target`, return the indices of the two numbers that add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

Here are some examples:

Example 1:

Input: `nums = [2,7,11,15]`, `target = 9` \
Output: `[0,1]` \
Explanation: Because `nums[0] + nums[1] == 9`, we return `[0, 1]`.

Example 2:

Input: `nums = [3,2,4]`, `target = 6` \
Output: `[1,2]` \

Example 3:

Input: `nums = [3,3]`, `target = 6` \
Output: `[0,1]` \

I saw this question on [LeetCode](https://leetcode.com/problems/two-sum/description/).

### Best Time

Write a function `best_time` that solves the following.

You are given an array `prices` where `prices[i]` is the price of a given stock on the $i^{th}$ day.

You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the future to sell that stock.

Return the maximum profit you can achieve from this transaction. If you cannot achieve any profit, return 0.

Here are some examples:

Example 1:

Input: `prices = [7,1,5,3,6,4]` \
Output: `5` \
Explanation: Buy on day 2 (price = 1) and sell on day 5 (price = 6), profit = 6-1 = 5.
Note that buying on day 2 and selling on day 1 is not allowed because you must buy before you sell.

Example 2:

Input: `prices = [7,6,4,3,1]` \
Output: `0` \
Explanation: In this case, no transactions are done and the max profit = 0.

I saw this question on [LeetCode](https://leetcode.com/problems/best-time-to-buy-and-sell-stock/).